{{define "header"}}
    <div class="col-md-12">
        <h2>IIBB-IMPORTS</h2>
        <div class="file-drop-area mt-2 mb-2 d-flex justify-content-center mx-auto" id="prompt">
            <label class="choose-file-button button-primary" for="form">Seleccionar archivo</label>
            o arrastre y suelte el archivo aqui
            <input id="form" class="file-input" type="file" multiple>
        </div>          
    </div>
{{end}}